body {
  color: black;
  font-family: "Roboto Slab", serif;
  font-size: 12px;
  margin: 0;
}

@media (max-width: 700px) {
  body {
    font-size: 10px;
  }
}

a.button,
footer p,
#calendar {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  text-align: center;
  letter-spacing: 1px;
}

/*------------------------------------------------------------------*/

/*------------------------------HEADER------------------------------*/

/*------------------------------------------------------------------*/

header {
  position: relative;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: black;
  background-image: url(../img/header.png);
  background-position: center;
  background-size: cover;
}

a.button {
  padding: 10px 15px;
  border: 3px solid rgb(115, 150, 0);
  border-radius: 5px;
  margin: 15px;
  background-color: rgb(115, 150, 0);
}
a:link,
a:visited {
  text-decoration: none;
  color: white;
}

a.button:hover {
  color: rgb(115, 150, 0);
  background-color: white;
}

#menu {
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  color: white;
}

header h1 {
  position: absolute;
  top: 20%;
  bottom: 25%;
  left: 25%;
  right: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: normal;
  text-align: center;
  line-height: 1.5;
}

header h1 strong {
  font-size: 5em;
  letter-spacing: 20px;
}
@media (max-width: 700px) {
  header {
    height: 150px;
    line-height: 1;
  }
}

/*------------------------------------------------------------------*/

/*-------------------------------MAIN-------------------------------*/

/*------------------------------------------------------------------*/
main {
  display: flex;
  flex-direction: column;
  margin-left: calc(50% - 510px);
  margin-right: calc(50% - 510px);
}
.hidden {
  display: none;
}
#loading {
  margin: 50px auto;
  width: 500px;
}
#calendar {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1120px;
}
.box {
  display: flex;
  flex-direction: column;

  padding: 20px;
  margin: 20px;
  font-size: 1.3em;
}
h2 {
  margin-bottom: 0px;
}
.data {
  position: absolute;
  margin: 15px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #ffffff;
}
.gg {
  font-size: 1.5em;
  margin-bottom: -5px;
}

.img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 20px;
  border: black solid 2px;
}
.box p {
  text-align: left;
  margin: 0px;
  font-weight: bold;
}
/*------------------------------------------------------------------*/

/*------------------------------FOOTER------------------------------*/

/*------------------------------------------------------------------*/

footer {
  background-color: rgb(30, 30, 30);
  padding: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
footer div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#contatto {
  flex-direction: column;
}

footer img {
  border-radius: 100px;
  height: 100px;
}

footer h1 {
  margin: 10px;
  font-size: 1.5em;
  font-weight: normal;
  color: rgb(150, 150, 150);
}

footer p {
  color: rgb(150, 150, 150);
  margin: 10px;
}
